* {
  box-sizing: border-box;
 font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


body{
  background:#faf7f2;
  color: #333;
}

.navbar{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #fff; 
}
.logo{
  width:110px;
}

ul{
  list-style:none;
  display:flex;
}

li{
 margin-left:20px;
}
a{
  text-decoration:none;
  color:#333;
}
.button-menu {
  position: absolute;
  top: 50%;
  margin-top: 125px;
  left: 50%;
  border: 2px solid #fff;
  border-radius: 40px;
  padding: 0px 20px 10px 20px;
}

.button-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 0.7em;
}

.button-menu:hover {
  background: #e8c4c6;
  border: 2px solid #e8c4c6;
  transition:0.3s;
}
.heading{
  text-align: center;
  padding: 80px 20px;
  background: #e6d3c5;
}

.heading h1{
  font-size: 3em;
}    

.heading button{
  padding: 12px 24px;
   border: none;
  background: #a9745c;
  color: #fff;
  cursor: pointer;
}

.heading button:hover{
  background:#7a4c33;
  transition:0.3s;
}

.desc{
  text-align: center;
  padding: 20px 80px;
}

.desc h2{
  font-size: 3rem;
}
.desc p{
  font-size: 1.2em;
}

div{
  text-align: center;
  border:0px dotted blue;
  padding-top:30px;
}

.content{
  padding:10px;
  text-align:center;
  border:0px solid yellow;
}

.content h2{
  font-size: 3rem;
}

.table{
  margin: auto;
  width: 88%;
  border-collapse: collapse;
}

td, th {
  border: solid 1px #ccc;
  padding: 10px;
}

th{
  background:#e6d3c5;
}
.table img{
  object-fit:cover;
   height:100px;
  width:100px;
}

@media (max-width: 768px) {
  ul {
    flex-direction: column;
    display: none;
  }

  .hero h1 {
    font-size: 2.2rem;
  }

  table {
    width: 100%;
  }
}
