* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background:#faf7f2;
  color: #333;
}

.navbar{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #fff; 
}

ul{
  list-style:none;
  display:flex;
}

li{
 margin-left:20px;
}
a{
  text-decoration:none;
  color:#333;
}

.heading{
  text-align: center;
  padding: 80px 20px;
  background: #e6d3c5;
}

.heading h1{
  font-size: 3em;
}    

.heading button{
  padding: 12px 24px;
   border: none;
  background: #a9745c;
  color: #fff;
  cursor: pointer;
}

.heading button:hover{
  background:#7a4c33;
  transition:0.3s;
}

.content{
  padding;10px;
  text-align:center;
}

.table{
  margin: auto;
  width: 88%;
  border-collapse: collapse;
}

td, th {
  border: solid 1px #ccc;
  padding: 10px;
}

th{
  background:#e6d3c5;
}

@media (max-width: 768px) {
  ul {
    flex-direction: column;
    display: none;
  }

  .hero h1 {
    font-size: 2.2rem;
  }

  table {
    width: 100%;
  }
}
* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background:#faf7f2;
  color: #333;
}

.navbar{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #fff; 
}

ul{
  list-style:none;
  display:flex;
}

li{
 margin-left:20px;
}
a{
  text-decoration:none;
  color:#333;
}

.heading{
  text-align: center;
  padding: 80px 20px;
  background: #e6d3c5;
}

.heading h1{
  font-size: 3em;
}    

.heading button{
  padding: 12px 24px;
   border: none;
  background: #a9745c;
  color: #fff;
  cursor: pointer;
}

.heading button:hover{
  background:#7a4c33;
  transition:0.3s;
}

.content{
  padding;10px;
  text-align:center;
}

.table{
  margin: auto;
  width: 88%;
  border-collapse: collapse;
}

td, th {
  border: solid 1px #ccc;
  padding: 10px;
}

th{
  background:#e6d3c5;
}

@media (max-width: 768px) {
  ul {
    flex-direction: column;
    display: none;
  }

  .hero h1 {
    font-size: 2.2rem;
  }

  table {
    width: 100%;
  }
}
